/* Hide border on tab bar, force its state to 'scroll' */ 
#tabbar { border: 0; overflow-y: scroll !important; scrollbar-width: auto; }

.newtab-button-box {
  display: none;
}

/* Only show tab close button on hover */
#tabbar tab-item:not(:hover) tab-closebox {
  display: none;
}

/* Put close button on right side
:root.right tab-item tab-twisty {
  order: -1;
}
:root.right tab-item tab-closebox {
  order: 10000;
}
*/

/* Fix closebox by aligning it more right */
tab-item tab-closebox {
  margin-left: auto; 
  margin-right: -10px;
}

/* closebox right*/
:root.right tab-item tab-twisty {
  order: -1;
}
:root.right tab-item tab-closebox {
  order: 10000;
}

/* Hide twisty and collapse/expand tree by clicking on tab's icon */
tab-item tab-twisty {
  margin-left: 3px;
  margin-right: -1em;
  opacity: 0 !important;
  position: relative;
  z-index: 10000;
}

  
/* Change styling of pending (unloaded) tabs */
tab-item.discarded tab-item-substance {
  opacity: 0.75;
}

tab-item.unread .label-content {
  font-style: italic;
}

/*
tab-item:not(.pinned) .contextual-identity-marker {
  max-width: 0.5em !important;
  border-radius: 14px;
  left: 0px;
}
tab-item.pinned .contextual-identity-marker {
  max-width: 1em !important;
  height: 0.1em !important;
}
*/
/*
.contextual-identity-marker {
  max-width: 0;
}
*/
