* {
    border: none;
    /* border-radius: 3px; */
    font-family: SF Pro Text, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: @theme_bg_color;
    color: @theme_fg_color;
    border-bottom: 1px solid @borders;

    transition-property: background-color;
    transition-duration: .4s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty {
    background-color: transparent;
    border-bottom: none;
}
/* window#waybar.solo { */
/*     background-color: @theme_text_color; */
/* } */

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @theme_text_color;
    /* Use box-shadow instead of border so the text isn't offset */
    /* box-shadow: inset 0 -1px transparent; */
    border-radius: 2px;
}

window#waybar.empty {
    color: white;
}
window#waybar.empty button.focused {
    background: transparent;
}

window#waybar.empty button:not(.focused) {
    color: alpha(#ffffff, 0.5);
}
/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    /* background: shade(alpha(@borders, 0.9), 1.25); */
    /* box-shadow: inset 0 -1px @theme_text_color; */
    /* border-bottom: 1px solid @borders; */
    box-shadow: inset 0 -2px @borders;
}

#workspaces button.focused {
    /* background-color: alpha(mix(@theme_fg_color, @theme_bg_color, 0.6), 0.35); */
    background: @borders;
    /* box-shadow: inset 0 -0.7px #8e908c; */
}

#workspaces button.urgent {
  background-color: #6eaaff;
  color: #ffffff;
}

#mode {
    font-size: 1.2em;
}

tooltip {
    background: @theme_base_color;
    border: 1px solid @borders;
}
tooltip label {
  color: @theme_fg_color;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    color: @theme_text_color;
}

/* #window, */
/* #tray, #mode { */
/*     margin: 10px 0px 0px 0px; */
/* } */

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: -1px;
}

/* If workspaces is the rightmost module, omit right margin */
/* .modules-right > widget:last-child > #workspaces { */
/*     margin-right: 0; */
/* } */

#clock {
    /* background-color: #373b41; */
}

#battery {
    /* background-color: #373b41; */
    color: @theme_text_color;
}

#battery.charging {
    color: @theme_text_color;
    /* background-color: #26A65B; */
}

@keyframes blink {
    to {
        background-color: @theme_text_color;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: @theme_text_color;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#memory {
    /* background-color: #373b41; */
}

#backlight {
    /* background-color: #373b41; */
}

#network {
    background-color: #373b41;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    /* background-color: #373b41; */
    color: @theme_text_color;
}

#pulseaudio.muted {
    /* background-color: #373b41; */
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    /* background-color: #373b41; */
}

#temperature.critical {
    background-color: #eb4d4b;
}

/* #tray { */
/*   background: @theme_bg_color; */
/*   color: @theme_bg_color; */
/* } */

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

menu label:disabled {
    color: @insensitive_fg_color;
}
