window {
  border: 1px solid #373b41;
  border-radius:    10px;
  background-color: #1d1f21;
  font-family: "SF Pro Display";
  font-size: 1.3em;
}

#input {
  border: 1px solid #373b41;
  border-radius:    10px;
  background-color: #1d1f21;
  margin: 5px;
  color: #ffffff;
}
/* hide search icon */
#input image:first-child {
  margin-left: -35px;
 }
/* list */
#inner-box {
  margin: 5px;
  padding: 0px 25px 0px 25px;
}

/* #outer-box { */
/*   margin: 5px; */
/*   border-radius:    10px; */
/*   border: 2px solid green; */
/*   background-color: green; */
/* } */

#scroll {
  /* padding: 30px 0px 30px 0px; */
  /* margin: -32px 10px; */
  margin: -2px 2px;
}

#text {
  margin: 5px 10px;
  color: #c5c8c6;
}

#img {
  /* border: 2px solid orange; */
}

#entry:selected {
  background-color: #373b41;
}

#entry {
  /* padding: 3px; */
}

#text:selected {
  color: #ffffff;
}

